
*.tar.gz
*.zip
*.7z
*.bin
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.~*
*.diff
*.err
*.orig
*.log
*.tmp
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
.DS_Store
._*
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
Thumbs.db

# lazarus
*.compiled
#*.lps
*.bak
*.ppu
*.o

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
dist
libs

# fastplaz example
source/db/simple_contacts/lib/*
source/db/simple_contacts/lib/backup/*
