<html>
<head>
	<title>FastPlaz - Example - Contacts Grid - json</title>
	<link rel="stylesheet" id="fastplaz-style-css"  href="[$themefullpath]/assets/bootstrap/css/bootstrap.min.css" type="text/css" media="all" />
	<link rel="stylesheet" id="fastplaz-style-css"  href="[$themefullpath]/assets/bootstrap/css/docs.min.css" type="text/css" media="all" />
	<link rel="stylesheet" id="fastplaz-style-css"  href="[$themefullpath]/style/style.css" type="text/css" media="all" />

	<script src="[$themefullpath]/assets/js/jquery.min.js"></script>
	<script src="[$themefullpath]/assets/js/simple.datagrid.js"></script>
	<link rel="stylesheet" href="[$themefullpath]/assets/style/simple.datagrid.css">

</head>
<body>
[$maincontent]


<footer>
<ul>
    <li><a href="./">Home</a></li>
    <li><a href="./contacts">Contact List</a></li>
</ul>
</footer>
</body>
</html>
