<div class="container">
<H2>Contacts List (json)</H2>
<blockquote>
  <p>Contoh menampilkan data melalui Grid, proses reload data menggunakan <b>JSON</b>.
  <br />Penambahan dan pengubahan data melalui Ajax.
  <br />Pada contoh ini, data yang diparsing belum dilakukan sanitasi, sehingga masih memungkinkan terjadinya injeksi.
  </p>
</blockquote>
</div>

<div class="container">
<h3>Contact List</h3>

<form id="frmContact" class="form-inline" role="form" name="sampleForm" id="sampleForm" action="" method="POST" enctype="" target="" >
    <input type=hidden name="id" id="id" value="[$Contact.id]">
  <div class="form-group">
     <label for="name">Full Name:</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Agent Full Name" required value="[$Contact.name]">
  </div>
  <div class="form-group">
    <label for="codename">CodeName:</label>
    <input type="text" class="form-control" name="codename" id="codename" placeholder="Code name" value="[$Contact.codename]">
  </div>
  <div class="form-group">
    <label for="balance">Balance</label>
    <input type="text" class="form-control" name="balance" id="balance" placeholder="User Balance" required value="[$Contact.balance]">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <button id="btnDelete" type="button" class="btn btn-danger">Delete</button>
  <button id="btnReset" type="reset" class="btn btn-default">Reset</button>
</form>
</div>


<div class="container">
<table id="contacts-table" data-url="./contacts?act=data" class="table table-striped">
	<thead>
	<tr>
        <th>id</th>
		<th>Name</th>
        <th>Codename</th>
        <th>Balance</th>
	</tr>
	</thead>
</table>
</div>

<div class="bs-callout bs-callout-info">
url data : [baseurl]contacts?act=data
</div>

<div class="highlight pull-right"><pre>
<b>Source:</b>
<code class="bash">
controller   : src/app/contacts/contacts_controllers.pas
model        : src/app/contacts/contact_model.pas
view         : modules/contacts/main.html
layout theme : themes/[$theme]/templates/master.html
</code></pre></div>


<script type="text/javascript" >

function generate_footer($footer, datagrid, data) {
    $footer.append(
        "<tr><td colspan='3'>this is table footer</td></tr>"
    );
};

jQuery(document).ready(function() {
	$('#contacts-table').simple_datagrid({
        on_generate_footer: generate_footer
	});
	$('#contacts-table').bind(
        'datagrid.select', function(e) {
            // Row is selected
            // console.log(e.row);
            $('#frmContact input#id').val( e.row.id);
            $('#frmContact input#name').val( e.row.name);
            $('#frmContact input#codename').val( e.row.codename);
            $('#frmContact input#balance').val( e.row.balance);
        }
	);

    $('#frmContact').on('submit', function(e){
        e.preventDefault();
        var data = $("#frmContact").serialize();
        $.ajax({
            type: "POST",
            url: "[baseurl]contacts?act=save",
            data: data,
            dataType: "json",
            success: onSubmitSuccess,
            failure: function(errMsg) { alert(errMsg);}
        });
    });


    $( "#btnReset").click( function() {
        $("#frmContact input#id").val('');
        $('#frmContact').trigger("reset");
    });

    //-- btnDelete
    $( "#btnDelete").click( function() {
        var id = $("#frmContact input#id").val();
        if (id != '') {
	        if (confirm("Delete this Data ?\n")) {
		        $.ajax({
		            type: "POST",
		            url: "[baseurl]contacts?act=delete",
		            data: "id="+id,
		            dataType: "json",
		            success: onSubmitSuccess,
		            failure: function(errMsg) { alert(errMsg);}
		        });
	        }
        }
    });
    //-- btnDelete - end


});

function onSubmitSuccess( data){
    if ( data.code == 0 ){
        $('#frmContact').trigger("reset");
        $('#contacts-table').simple_datagrid('reload');
    } else {
        alert('Error: '+data.response.msg);
    }
}
</script>

