<html>
<head>
  <title>[title]</title>
  <link rel="stylesheet" id="fastplaz-style-css"  href="[$themefullpath]/assets/bootstrap/css/bootstrap.min.css" type="text/css" media="all" />
  <link rel="stylesheet" id="fastplaz-style-css"  href="[$themefullpath]/assets/bootstrap/css/docs.min.css" type="text/css" media="all" />
  <link rel="stylesheet" id="fastplaz-style-css"  href="[$themefullpath]/style/style.css" type="text/css" media="all" />
</head>
<body>
[$maincontent]


<footer>
<ul>
    <li><a href="./">Home</a></li>
    <li><a href="./contacts">Contact List</a></li>
</ul>
</footer>
</body>
</html>
